
a {
	text-decoration: none !important;
}

.nav_wrapper {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.nav_bg_a {
	background: white;
    box-shadow: inset 0 0 0 .1em rgba(255, 255, 255, .2);
	-ms-box-shadow: inset 0 0 0 .1em rgba(255, 255, 255, .2);
	-moz-box-shadow: inset 0 0 0 .1em rgba(255, 255, 255, .2); /* Firefox 4 */
	-webkit-box-shadow: inset 0 0 0 .1em rgba(255, 255, 255, .2); /* Safari 和 Chrome */
	-o-box-shadow: inset 0 0 0 .1em rgba(255, 255, 255, .2); /* Opera */
}

.nav_bg_a .login {
	background: #F1F1F1;
	color: black;
	border: none;
	width: 74px;
	height: 34px;
	line-height: 34px;
}

.nav_bg_a .login:hover {
	background: #e0e0e0;
}

/*.nav_bg_a .nav_search {
	background: #F1F1F1;
}*/

.nav_color_f a {
	color: white;
}

.nav_color_f i {
	color: white;
}

.nav_color_a a {
	color: black;
}

.nav_color_a .nav_hide {
	border: 1px #ccc solid;
}

.nav_color_a .nav_title {
	border: 1px #999 solid;
	border-bottom: none;
	border-right: none;
}
	
.nav_color_a i {
	color: black;
}	

.nav {
	width: 85%;
	margin: 0 auto;
	height: 78px;
}

.nav a {
	text-decoration: none;
}

.nav_logo {
	width: 180px;
	height: 100%;
	/*background: blue;*/
	float: left;
	position: relative;	
}

.nav_logo img {
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%); /* Firefox 4 */
	-webkit-transform: translate(-50%,-50%); /* Safari 和 Chrome */
	-o-transform: translate(-50%,-50%); /* Opera */
	
	/*margin-top: -50%;*/
	/*margin-left: -50%;*/
	/*height: 50%;*/
}

.nav_list {
	float: left;
}

.nav_list ul {
	
}

.nav_list ul li {
	float: left;
	line-height: 76px;
	font-size: 16px;
	margin: 0 20px;
	cursor: pointer;
	position: relative;
	list-style: none;
}

.nav_list ul li i {
	margin-left: 10px;
	font-size: 12px;
}

.nav_list ul li:nth-child(1) a {
	width: 100%;
	height: 100%;
	display: block;
}

.nav_list ul li:nth-child(3) a {
	width: 100%;
	height: 100%;
	display: block;
}

.nav_list ul li a {
	
	/*color: red;*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*display: block;*/
}

.nav_right {
	width: 468px;
	height: 100%;
	float: right;
}

.nav_search {
	width: 280px;
	height: 34px;
	background: #F1F1F1;
	float: left;
	margin-top: 22px;
	border-radius: 4px;
	border: 1px rgba(0,0,0,0) solid;
}

/*.nav_search:hover {
	border: 1px #C0A75E solid;

}*/

.nav_search input {
	width: 85%;
	height: 100%;
	background: rgba(0,0,0,0);
	border: none;
	float: left;
	text-indent: 1.5em;
	font-size: 14px;
}

.nav_search i {
	/*float: right;*/
	font-size: 16px;
	line-height: 34px;
	color: #D1D1D1;
	margin-left: 15px;
	cursor: pointer;
	transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s; /* Firefox 4 */
	-webkit-transition: .5s; /* Safari 和 Chrome */
	-o-transition: .5s; /* Opera */
}

.login {
	width: 72px;
	height: 32px;
	float: left;
	text-align: center;
	line-height: 32px;
	margin: 0 20px;
	border: 1px #fff solid;
	margin-top: 22px;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	font-size: 14px;
}

.login:hover {
	border: 1px rgba(255,255,255,.9) solid;
	color: rgba(255,255,255,.9);
}

.res {
	width: 74px;
	height: 34px;
	float: left;
	text-align: center;
	line-height: 34px;
	background: #e1e0e5;
	border-radius: 2px;
	margin-top: 22px;
	color: black;
	cursor: pointer;
	border-radius: 2px;
	font-size: 14px;
}

/*.res:hover {
	background: #BEA046;
}*/

.nav_hide {
	width: 360px;
	height: auto;
	padding: 20px;
	background: #fff;
	position: absolute;
	top: 100%;
	left: -45%;
	z-index: 99;
	display: none;
}

.nav_hide ul {
	float: left;
}

.nav_hide ul li {
	width: 106px;
	line-height: 40px;
	float: left;
	cursor: initial;
	border: none;
}

.nav_hide ul li a {
	color: black;
}

.nav_hide ul li a:hover {
	color: #c0a75e;
}

.nav_title {
	width: 16px;
	height: 16px;
	background: white;
	position: absolute;
	top: -8px;
	left: 32.8%;
	transform: translateX(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) rotate(45deg); /* Firefox 4 */
	-webkit-transform: translateX(-50%) rotate(45deg); /* Safari 和 Chrome */
	-o-transform: translateX(-50%) rotate(45deg); /* Opera */
}

.nav_list > ul li:nth-child(2):hover .nav_hide {
	display: block;
}

.user {
	width: 40px;
	height: 40px;
	position: relative;
	margin-left: 40px;
	float: left;
}

.user img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	cursor: pointer;
	/*transform: translateY(-50%);*/
}

.user:hover .user_list_wrapper {
	display: block;
}

.user_list_wrapper {
	width: 150px;
	height: 195px;
	/*background: blue;*/
	position: absolute;
	z-index: 99999;
	top: 50%;
	left: -110px;
	display: none;
	cursor: pointer;
}

.nav_bg_a .user_list {
	border: 1px #ccc solid;
}

.nav_bg_a .user_title {
	border: 1px #ccc solid;
	border-right: none;
	border-bottom: none;
}

.user_list {
	width: 100%;
	height: 140px;
	background: white;
	position: absolute;
	padding-top: 10px;
	bottom: 0;
	border-radius: 2px;
}

.user_list ul {
	
}

.user_list ul li {
	list-style: none;
	line-height: 41px;
	text-align: center;
	font-size: 16px;
}

.user_list ul li:hover {
	background: #F3F3F3;
}

.user_list ul li a {
	color: black;
}

.user_title {
	width: 16px;
	height: 16px;
	background: white;
	position: absolute;
	top: -8px;
	left: 86%;
	transform: translateX(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) rotate(45deg); /* Firefox 4 */
	-webkit-transform: translateX(-50%) rotate(45deg); /* Safari 和 Chrome */
	-o-transform: translateX(-50%) rotate(45deg); /* Opera */
}

/*@media screen and (max-width: 1200px) {
    .nav_search {
		width: 180px;
		height: 34px;
		background: #F1F1F1;
		float: left;
		margin-top: 22px;
		border-radius: 4px;
		border: 1px rgba(0,0,0,0) solid;
	}
}*/

/*@media (min-width: 767px){
	.nav_search {
		width: 180px;
		height: 34px;
		background: #F1F1F1;
		float: left;
		margin-top: 22px;
		border-radius: 4px;
		border: 1px rgba(0,0,0,0) solid;
	}
}*/


@media screen and (max-width: 1099px) {
	.nav_right {
		width: 368px;
		height: 100%;
		float: right;
	}
	.nav_search {
		width: 180px;
		height: 34px;
		background: #F1F1F1;
		float: left;
		margin-top: 22px;
		border-radius: 4px;
		border: 1px rgba(0,0,0,0) solid;
	}
	.nav_search i {
		/*float: right;*/
		font-size: 16px;
		line-height: 34px;
		color: #D1D1D1;
		margin-left: 5px;
		cursor: pointer;
		transition: .5s;
		-ms-transition: .5s;
		-moz-transition: .5s; /* Firefox 4 */
		-webkit-transition: .5s; /* Safari 和 Chrome */
		-o-transition: .5s; /* Opera */
	}
}

@media screen and (max-width: 999px) {
	.nav_right {
		width: 368px;
		height: 100%;
		float: right;
	}
	.nav_search {
		width: 180px;
		height: 34px;
		background: #F1F1F1;
		float: left;
		margin-top: 22px;
		border-radius: 4px;
		border: 1px rgba(0,0,0,0) solid;
	}
	.nav_search i {
		/*float: right;*/
		font-size: 16px;
		line-height: 34px;
		color: #D1D1D1;
		margin-left: 0;
		cursor: pointer;
		transition: .5s;
		-ms-transition: .5s;
		-moz-transition: .5s; /* Firefox 4 */
		-webkit-transition: .5s; /* Safari 和 Chrome */
		-o-transition: .5s; /* Opera */
	}
	
	.nav_list ul li:nth-child(3) {
		display: none;
	}
}

@media screen and (max-width: 889px) {
	.nav_right {
		width: 368px;
		height: 100%;
		float: right;
	}
	.nav_search {
		width: 180px;
		height: 34px;
		background: #F1F1F1;
		float: left;
		margin-top: 22px;
		border-radius: 4px;
		border: 1px rgba(0,0,0,0) solid;
	}
	.nav_search i {
		/*float: right;*/
		font-size: 16px;
		line-height: 34px;
		color: #D1D1D1;
		margin-left: 0;
		cursor: pointer;
		transition: .5s;
		-ms-transition: .5s;
		-moz-transition: .5s; /* Firefox 4 */
		-webkit-transition: .5s; /* Safari 和 Chrome */
		-o-transition: .5s; /* Opera */
	}
	
	.nav_list ul li:nth-child(2) {
		display: none;
	}
	
	.nav_list ul li:nth-child(3) {
		display: none;
	}
}

@media screen and (max-width: 749px) {
	.nav_right {
		width: 368px;
		height: 100%;
		float: right;
	}
	.nav_search {
		width: 180px;
		height: 34px;
		background: #F1F1F1;
		float: left;
		margin-top: 22px;
		border-radius: 4px;
		border: 1px rgba(0,0,0,0) solid;
	}
	.nav_search i {
		/*float: right;*/
		font-size: 16px;
		line-height: 34px;
		color: #D1D1D1;
		margin-left: 0;
		cursor: pointer;
		transition: .5s;
		-ms-transition: .5s;
		-moz-transition: .5s; /* Firefox 4 */
		-webkit-transition: .5s; /* Safari 和 Chrome */
		-o-transition: .5s; /* Opera */
	}
	
	.nav_list ul li:nth-child(1) {
		display: none;
	}
	
	.nav_list ul li:nth-child(2) {
		display: none;
	}
	
	.nav_list ul li:nth-child(3) {
		display: none;
	}
}

/***********************************************************/

.lxm_wrapper {
	width: 85%;
	height: 100%;
	/*background: red;*/
	margin: 0 auto;
}

.inter {
	text-align: center;
	color: black;
	font-size: 40px;
	margin-top: 15%;
}



.login_wrapper {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
}

.login_con {
	width: 540px;
	height: 450px;
	background: white;
	margin-left: 30%;
	position: absolute;
	top: 50%;
	/*top: 20%\0;*/
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%); /* Firefox 4 */
	-webkit-transform: translateY(-50%); /* Safari 和 Chrome */
	-o-transform: translateY(-50%); /* Opera */
	border-radius: 5px;
}

.login_con p:nth-child(1) {
	text-align: center;
	line-height: 60px;
	font-size: 18px;
}

.other_mode {
	width: 140px;
	margin-left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%); /* Firefox 4 */
	-webkit-transform: translateX(-50%); /* Safari 和 Chrome */
	-o-transform: translateX(-50%); /* Opera */
}

.tencent {
	width: 60px;
	height: 60px;
	border: 2px #2A9CD5 solid;
	border-radius: 50%;
	position: relative;
	float: left;
	margin-right: 20px;
	cursor: pointer;
}

.tencent img {
	width: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%); /* Firefox 4 */
	-webkit-transform: translate(-50%,-50%); /* Safari 和 Chrome */
	-o-transform: translate(-50%,-50%); /* Opera */
	/*height: 40px;*/
}

.WeChat {
	width: 60px;
	height: 60px;
	border: 2px #00BB00 solid;
	border-radius: 50%;
	position: relative;
	float: left;
	cursor: pointer;
}

.WeChat img {
	width: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%); /* Firefox 4 */
	-webkit-transform: translate(-50%,-50%); /* Safari 和 Chrome */
	-o-transform: translate(-50%,-50%); /* Opera */
	/*height: 40px;*/
}

.login_email {
	width: 100%;
	/*clear: both;*/
	float: left;
	position: relative;
	margin-top: 10px;
}

.login_email p:nth-child(1) {
	width: 20%;
	height: 1px;
	background: #999999;
	position: absolute;
	top: 40%;
	left: 10%;
}

.login_email p:nth-child(2) {
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: #999999;
}

.login_email p:nth-child(3) {
	width: 20%;
	height: 1px;
	background: #999999;
	position: absolute;
	top: 40%;
	right: 10%;
}

.login_enter {
	width: 50%;
	/*background: red;*/
	float: left;
	margin-left: 25%;
}

.login_enter input {
	width: 100%;
	height: 36px;
	font-size: 16px;
	text-indent: 1em;
	border: 1px solid #CCC;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
}

.login_yzm {
	width: 100%;
	height: 50px;
	margin-top: 10px;
}

.login_yzm div {
	float: left;
}

.login_yzm input {
	float: right;
	width: 60%;
	height: 50px;
}

.login_enter input:nth-child(1) {
	margin-bottom: 10px;
}

.login_enter button {
	width: 100%;
	height: 38px;
	outline: none;
	background: #E53E49;
    background: linear-gradient( #E53E49, #D43636);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    color: #fff;
    border: 1px solid #C90000;
    margin-top: 10px;
    margin-bottom: 14px;
    border-radius: 3px;
}

.login_enter button:hover {
	background: #F45D68;
	background: linear-gradient( #F45D68, #E54646);
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.1);
    border: 1px solid #C90000;
}

.login_enter a:nth-child(5) {
	float: left;
	color: #9A0000;
}

.login_enter a:nth-child(6) {
	float: right;
	color: #9A0000;
}

.login_enter span:nth-child(7) {
	float: right;
}


/*注册*/

.resgister {
	width: 540px;
	height: 450px;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	border-radius: 3px;
	overflow: auto;
	padding-bottom: 30px;
}

.resgister p input {
	display: inline-block;
	width: 250px;
	height: 32px;
	/*background: #FCFCFC  c90000   ;*/
    border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    font-size: 14px;
    text-indent: .8em;
    margin-top: 20px;
}

.resgister p select {
	display: inline-block;
	width: 250px;
	height: 32px;
	/*background: #FCFCFC  c90000   ;*/
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 250px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    font-size: 14px;
    text-indent: .8em;
    
}

.resgister p span {
	color: red;
	font-size: 14px;
	margin-left: 5px;
}

.resgister img:nth-child(1) {
	width: 70px;
	height: 70px;
	margin-left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%); /* Firefox 4 */
	-webkit-transform: translateX(-50%); /* Safari 和 Chrome */
	-o-transform: translateX(-50%); /* Opera */
	margin-top: 10px;
	margin-bottom: 10px;
}

.resgister p:nth-child(3) {
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
}

.resgister p:nth-child(4) {
	/*text-align: center;*/
	margin-left: 12%;
	font-size: 16px;
	text-indent: 3em;
}

/*.resgister p:nth-child(5) {
	margin-left: 12%;
	font-size: 16px;
}*/

.resgister p:nth-child(5) {
	margin-left: 12%;
	text-indent: 3em;
	font-size: 16px;
}

.resgister p:nth-child(6) {
	margin-left: 12%;
	text-indent: 3em;
	font-size: 16px;
}

.resgister p:nth-child(7) {
	margin-left: 12%;
	text-indent: 1em;
	font-size: 16px;
}

.resgister p:nth-child(8) {
	margin-left: 12%;
	text-indent: 1em;
	font-size: 16px;
}

.resgister p:nth-child(9) {
	margin-left: 12%;
	text-indent: 1em;
	font-size: 16px;
}


.resgister p:nth-child(10) {
	margin-left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%); /* Firefox 4 */
	-webkit-transform: translateX(-50%); /* Safari 和 Chrome */
	-o-transform: translateX(-50%); /* Opera */	
}

.resgister p:nth-child(10) input {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	/*margin-left: 50%;*/
}

.resgister p:nth-child(10) label {
	/*line-height: 24px;*/
	margin-top: 20px;
	font-size: 14px;
	/*float: left;*/
}

.resgister p:nth-child(10) label a {
	color: #337AC6;
}

.resgister .register_sub {
	width: 54px;
	height: 30px;
	font-size: 14px;
	outline: none;
	background: #E53E49;
    background: linear-gradient( #E53E49, #D43636);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
    -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3); /* Firefox 4 */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3); /* Safari 和 Chrome */
	-o-box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3); /* Opera */
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    -ms-text-shadow: 0 -1px 0 rgba(0,0,0,.1);
	-moz-text-shadow: 0 -1px 0 rgba(0,0,0,.1); /* Firefox 4 */
	-webkit-text-shadow: 0 -1px 0 rgba(0,0,0,.1); /* Safari 和 Chrome */
	-o-text-shadow: 0 -1px 0 rgba(0,0,0,.1); /* Opera */
    color: #fff;
    border: 1px solid #C90000;
    margin-top: 10px;
    margin-bottom: 14px;
    border-radius: 3px;
    margin-left: 25%;
}

.resgister .register_sub:hover {
	background: linear-gradient( #F45D68, #E54646);
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.1);
    -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.1); /* Firefox 4 */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.1); /* Safari 和 Chrome */
	-o-box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.1); /* Opera */
    border: 1px solid #C90000;
}

.login_rester {
	display: inline-block;
    border-radius: 2px;
    font-size: 14px;
    padding: 0 12px;
    height: 28px;
    line-height: 28px;
    background: #fff;
    background: linear-gradient( #FAFAFA, #F2F2F2);
    border: 1px solid #D9D9D9;
    cursor: pointer;
    text-decoration: none;
    color: #444;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    -ms-box-shadow: 0 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.5); /* Firefox 4 */
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5); /* Safari 和 Chrome */
	-o-box-shadow: 0 1px 0 rgba(255,255,255,.5); /* Opera */
    text-align: center;
    outline: none;
    margin-left: 6px;
}

.login_rester:hover {
    text-decoration: none;
    color: #444;
    background: linear-gradient(#FFF, #F7F7F7);
    box-shadow: inset 0 1px 0 white,0 1px 0 rgba(255,255,255,.05);
    -ms-box-shadow: inset 0 1px 0 white,0 1px 0 rgba(255,255,255,.05);
	-moz-box-shadow: inset 0 1px 0 white,0 1px 0 rgba(255,255,255,.05); /* Firefox 4 */
	-webkit-box-shadow: inset 0 1px 0 white,0 1px 0 rgba(255,255,255,.05); /* Safari 和 Chrome */
	-o-box-shadow: inset 0 1px 0 white,0 1px 0 rgba(255,255,255,.05); /* Opera */
    border: 1px solid #CCC;
}

.resgister_back {
	position: absolute;
	top: 15px;
	left: 20px;
	font-size: 20px;
	cursor: pointer;
}

.resgister_remove {	
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 20px;
	cursor: pointer;
	color: red;
}

.login_remove {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 20px;
	cursor: pointer;
	color: red;
}

.kabosu_footer {
	position: absolute;
	bottom: 0;
}

@media screen and (max-width: 1299px) {
	.login_yzm input {
		float: right;
		width: 50%;
		height: 50px;
	}
}


/*.resgister p {
	text-align: center;
}*/

/*<span>请输入手机验证码</span>*/

.login_enter_forget p {
	width: 100%;
}

.login_enter_forget p select {
	display: inline-block;
	width: 100% !important;
	height: 32px;
	/*background: red;*/
	/*background: #FCFCFC  c90000   ;*/
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 250px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05); /* Firefox 4 */
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05); /* Safari 和 Chrome */
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,.05); /* Opera */
    font-size: 14px;
    text-indent: .8em;
    
}

.login_enter_forget button {
	margin-top: -10px;
}

.lxm_new_pass {
	/*width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	border-radius: 3px;
	z-index: 999;*/
}


/*@media \0screen {body { background: red; }}*/

.login_user {
	font-size: 14px;
}

.resgister_now {
	font-size: 14px;
}
