html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}
.speedNam{
	float: left;
	color: #555555;
	font-size: 18px;
	margin-top: 5%;
	margin-left: 5%;
}
.aaai{
	margin-top: 5%;
}
.speedBtn{
	width: 15%;
	height: 35px;
	line-height: 35px;
	background: skyblue;
	text-align: center;
	color: white;
	font-size: 16px;
	float: left;
	border-radius: 2%;
	margin-top: 5%;
	margin-left: 30%;
	cursor: pointer;
}
.zhj_wrapper{
	width: 100%;
	height: 100%;
	float: left;
	background: #FAFAFA;
	margin-top: 98px;
	/*border-top: 2px solid #DDDDDD;*/
}
.zhj_personTop{
	width: 85%;
	height: 250px;
	border-bottom: 2px solid #555555;
	/*float: left;*/
	margin: 0 auto;
}
.zhj_personTopImg{
	width: 140px;
	height: 140px;
	float: left;
	border-radius: 50%;
	margin-top: 3%;
	overflow: hidden;
	border: 1px solid #DDDDDD;
}
.zhj_personTopImg .upImg{
	width: 100%;
	height: 100%;
}
.zhj_personTopImg img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.zhj_personTopName{
	width: 10%;
	height: 60px;
	float: left;
	margin-top:5.5%;
	/*color: black;*/
	color: #555555;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	line-height: 60px;
}
.zhj_xinyu{
	width: 15%;
	height: 50px;
	float: left;
	margin-top:10%;
	margin-left: -8%;
}
.zhj_xinyu img{
	width: 20px;
	height: 20px;
}

.zhj_reset{
	width: 3.3%;
	height: 40px;
	float: left;
	margin-top: 8%;
	margin-left: 33%;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	/*color: black;*/
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	background: white;
	position: relative;
}
.zhj_reset i{
	color: #555555;
}
.zhj_shop i{
	color: #555555;
}
.zhj_shop{
	width: 3.3%;
	height: 40px;
	float: left;
	margin-top: 8%;
	margin-left: 2%;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	/*color: black;*/
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	background: white;
	position: relative;
}
.zhj_hoverShop{
	width: 350%;
	height: 40px;
	background: white;
	position: absolute;
	top: -50px;
	left: -30px;	
	border: 1px solid #DDDDDD;
	box-shadow: 3px 3px 8px #DDDDDD;
	opacity: 0;
	transition: all 0.5s;
}
.zhj_personShop{
	width: 100%;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
	/*color: black;*/
	cursor: pointer;
	font-size: 16px;
}
.zhj_hoverReset{
	width: 350%;
	height: 40px;
	background: white;
	position: absolute;
	top: -50px;
	left: -70px;	
	border: 1px solid #DDDDDD;
	box-shadow: 3px 3px 8px #DDDDDD;
	opacity: 0;
	transition: all 0.5s;
}
.zhj_personReset{
	width: 100%;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
	/*color: black;*/
	cursor: pointer;
	font-size: 16px;
}
.zhj_personShop{
	width: 100%;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
	/*color: black;*/
	font-size: 16px;
	cursor: pointer;
}
.zhj_aline{
	width: 0.1%;
	height: 130px;
	float: left;
	background: #DDDDDD;
	margin-top: 7%;
	margin-left: 2.2%;
}
.zhj_authentication{
	width: 10%;
	height: 60px;
	float: left;
	margin-top: 8.5%;
	margin-left: 2%;
}
.zhj_authentication i{
	font-size: 16px;
	color: #555555;
}
.zhj_authentication span{
	font-size: 15px;
	margin-left: 2%;
}
.zhj_notCertified{
	width: 10%;
	height: 60px;
	float: left;
	margin-top: 8.5%;
	margin-left: 1%;
	text-align: right;
}
.zhj_notCertified i{
	font-size: 16px;
	color:#555555;
}
.zhj_notCertified span{
	font-size: 15px;
	margin-left: 2%;
}
.zhj_myType{
	width: 85%;
	height: 50px;
	border-bottom:#DDDDDD 2px solid;
	margin: 0 auto;
}
.zhj_Release{
	width: 10%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	cursor: pointer;
	float: left;
}
.zhj_wallet{
	width: 85%;
	height:100%;
	margin: 0 auto;
	border: 1px solid #DDDDDD;
	background: white;
	margin-top: 1%;
	display: none;
	padding-bottom: 5%;
	overflow: auto;
	/*border-bottom: 0px;*/
}
.zhj_walletTex{
	width: 100%;
	height: 80px;
	color: #555555;
	line-height: 100px;
	font-size: 16px;
	text-indent: 2%;
}
.zhj_Amount{
	width: 100%;
	height: 60px;
}
.zhj_Amount input{
	float: left;
}
.zhj_Amount input:nth-child(2){
	margin-left: 2%;
}
.inputTxt{
	width:auto;
	float: left;
	height: 32px;
	margin-left: 2%;
	border-radius: 3%;
	color: #555555;
	font-size: 20px;
	text-indent:2%;
	line-height: 32px;
	outline: none;
	border: none;
	font-weight: bold;
}
.zhj_Amount span{
	float: left;
	font-size: 15px;
	margin-left: 1%;
	margin-top: 0.5%;
}
.zhj_transaction{
	width: 100%;
	height: 30px;
	margin: 0 auto;
	color: #555555;
	font-size: 16px;
	text-indent: 2%;
}
.zhj_edit{
	width: 100%;
	height: auto;
	margin-bottom: 1.5%;
}
.zhj_textarea{
	width:100%;
	height:100%;
	margin-left: 2%;
	/*margin-bottom: 5%;*/
}
.textAll{
	width: 90%;
	height: 40px;
	color: #555555;
	font-size: 16px;
	line-height: 40px;
	text-indent: 2%;
	border-bottom: 1px solid #CCCCCC;
	float: left;
	background: rgba(208,208,208,0.4);
}
.textAll span{
	display:inline-block;
	float: left;
}
.zhjname{
	width: 150px;
	text-align: center;
}
.zhbT{
	width: 25%;
	text-align: center;
}
.zhjd{
	width: 40%;
	text-align: center;
}
.allList{
	width: 90%;
	height: 40px;
	color: #555555;
	font-size: 16px;
	line-height: 40px;
	float: left;
}

.jine{
	width: 100%;
	height: 40px;
	color: #555555;
	font-size: 16px;
	line-height: 40px;
	/*float: left;*/
	border: 1px solid #CCCCCC;
	border-top: none;
	/*border-bottom: 1px solid #CCCCCC;*/
}

.jine:hover{
	background:rgba(208,208,208,0.4);
	cursor: pointer;
}
.jine span{
	float: left;
}
.allje{
   display:block;
   width: 12%;
   text-align: center;
   text-indent:6px;
}
.allLine{
	width: 1px;
	height: 30px;
	margin-top: 0.5%;
	background: #CCCCCC;
}
.allLine2{
	margin-left:4%;	
	width: 1px;
	height: 30px;
	/*float: left;*/
	margin-top: 0.5%;
	background: #CCCCCC;
	margin-left: 5%;
}
.allNumb{
	display: inline-block;
	width: 30%;
	text-align: center;
	/*margin-left: 8%;*/
}
.alljindu{
	display: inline-block;
	width: 26%;
	font-size: 15px;
	color: #555555;
	text-align: center;
}
.zhj_Btn{
	width: 8%;
	height: 35px;
	line-height: 35px;
	background: skyblue;
	text-align: center;
	border-radius: 3%;
	color: white;
	margin-left: 20%;
	margin-top: 0.1%;
	font-size: 15px;
	cursor: pointer;
}

.zhj_Releases{
	width: 85%;
	min-height: 100%;
	margin: 0 auto;
	margin-top: 1%;
	border: 1px solid #DDDDDD;
	background: white;
	display: none;
	margin-bottom: 1%;
	padding-bottom: 2%;
	overflow: hidden;
}
.zhj_myRelease{
	width: 100%;
	height: 40px;
	color: #555555;
	font-size: 16px;
	line-height: 40px;
	text-indent: 2%;
	float: left;
}
.zhj_Modular{
	width: 22%;
	height: 280px;
	float: left;
	margin-left: 2.4%;
	border: 1px solid #DDDDDD;
	border-radius:2px;
	margin-top:1%;
	position: relative;
}
.zhj_cuo{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 3%;
	right: 2%;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	z-index: 999;
}
.zhj_cuo i{
	font-size: 25px;
	color: white;
	transition: all 0.5s;
	transform-origin: center center; 
}
.zhj_cuo i:hover{
	color: black;
	transform:scale(1.5) rotate(180deg);
}

.zhj_jmcuo{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 3%;
	right: 2%;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	z-index: 999;
}
.zhj_jmcuo i{
	font-size: 25px;
	color:white;
	transition: all 0.5s;
	transform-origin: center center; 
}
.zhj_jmcuo i:hover{
	color: black;
	transform:scale(1.5) rotate(180deg);
}

.zhj_jiajia{
	width: 22%;
	height: 280px;
	float: left;
	margin-left: 2%;
	border: 1px solid #DDDDDD;
	border-radius:2px;
	margin-top:1%;
	font-size: 30px;
}

.zhj_jiajia img{
	width:200px;
	height:200px;
	margin-left: 11%;
	margin-top:18%;
}

.zhj_ModularImg{
	width: 100%;
	height: 160px;
	float: left;
	z-index: 99;
}

.zhj_ModularImg img{
	width: 100%;
	height: 100%;
	border-radius:2px;
}
.zhj_Title{
	width: 80%;
	height: 40px;
	border: 1px solid #DDDDDD;
	float: left;
	margin-left: 10%;
	margin-top: 5%;
	color:rgba(0,0,0,0.7);
	font-size: 16px;
	text-align: center;
	line-height: 40px;	
}
.zhj_price{
	width: 80%;
	height: 40px;
	border: 1px solid #DDDDDD;
	float: left;
	margin-left: 10%;
	margin-top: 5%;
	color:rgba(0,0,0,0.7);
	font-size: 16px;
	text-align: center;
	line-height: 40px;	
}
.zhj_ModularUp{
	width: 20%;
	height: 275px;
	float: left;
	margin-left: 2%;
	border: 1px solid #555555;
	border-radius:2px;
	text-align: center;	
	margin-top: 1%;
}
.zhj_ModularUp i{
	font-size: 50px;
	margin-top: 35%;
	/*float: left;*/
	color:#555555;
}
.zhj_ModularUp span{
	display: inline-block;
	width: 100%;
	color: #555555;
	font-weight: bold;
	font-size: 20px;
	margin-top: 25%;	
}
/*购买记录*/
.zhj_purchase{
	width: 85%;
	min-height: 100%;
	border: 1px solid #DDDDDD;
	margin: 0 auto;
	margin-top: 1%;
	background: white;
	overflow: hidden;
	padding-bottom: 2%;
	display: none;
	margin-bottom: 1%;
}
.zhj_mypurchase{
	width: 100%;
	height: 40px;
	color: #555555;
	font-size: 16px;
	line-height: 40px;
	text-indent: 2%;
	float: left;
}
.zhj_purchaseModule{
	width: 22%;
	height: 280px;
	float: left;
	margin-left: 2.4%;
	border: 1px solid #DDDDDD;
	border-radius:2px;
	margin-top: 1%;
	position: relative;
}
.zhj_purchaseModules{
	width: 100%;
	height: 160px;
	float: left;
}
.zhj_purchaseModule img{
	width: 100%;
	height: 100%;
	border-radius:2px;
}
.zhj_purchaseTitle{
	width: 80%;
	height: 40px;
	border: 1px solid #DDDDDD;
	float: left;
	margin-left: 10%;
	margin-top: 5%;
	color:rgba(0,0,0,0.7);
	font-size: 16px;
	text-align: center;
	line-height: 40px;	
}
.zhj_purchaseprice{
	width: 80%;
	height: 40px;
	border: 1px solid #DDDDDD;
	float: left;
	margin-left: 10%;
	margin-top: 5%;
	color:rgba(0,0,0,0.7);
	font-size: 16px;
	text-align: center;
	line-height: 40px;	
}

/*提现*/
body,html{
	width: 100%;
	height: 100%;
	position: relative;
}
.zhj_Withdrawals{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 9999;
}
.zhj_wisWith{
	width: 50%;
	height: 550px;
	margin: 0 auto;
	background:#F7F7F7;
	margin-top: 5%;
	position: relative;
	padding: 0% 2% 2% 2% ;
}
.zhj_Wrong{
	width: 50px;
	height: 50px;
	position: absolute;
	top: -7.5%;
	right: -5%;
	text-align: center;
	line-height: 50px;
}
.zhj_Wrong i{
	color: #D3D3D3;
	font-size: 20px;
	cursor: pointer;
}
.zhj_Withdrawal{
	width: 100%;
	height: 70px;
	line-height: 90px;
	color: #555555;
	font-size: 20px;
	/*font-weight: bold;*/
}
.zhj_Amounts{
	width: 100%;
	height: 30px;
	color: #555555;
	/*font-weight: bold;*/
	font-size: 15px;
}
.zhj_money{
	width: 100%;
	height: 50px;
	position: relative;
}
.zhj_money span:nth-child(1){
	float: left;
	display: block;
	width: 7%;
	height:30px;
	position: absolute;
	top: 5%;
	left: 0.2%;
	font-size: 16px;
	color: #555555;
	text-align: center;
	line-height: 31px;
	background: #F7F7F7;
	border-radius: 3%;
}
.priceInp{
	width: 50%;
	text-indent: 18%;
	float: left;
	border-radius: 0;
	background: #FAFAFA;
}
.zhj_money span:nth-child(3){
	float: left;
	/*color: rgba(0,0,0,0.8);*/
	font-size: 16px;
	margin-left: 2%;
	margin-top: 0.6%;
}
.zhj_account{
	width: 100%;
	height: 30px;
	color: #555555;
	/*font-weight: bold;*/
	font-size: 15px;
}
.zhj_Alipay{
	width: 100%;
	height: 50px;
	position: relative;
}
.datazhb{
	width: 200px;
	display: block;
	font-size: 15px;
	position: absolute;
	right: 2%;
	top: 14%;	
	display: none;
}

.AlipayInp{
	width: 100%;
	float: left;
	border-radius: 0;
	background: #FAFAFA;
}
.zhj_phone{
	width: 100%;
	height: 30px;
	color: #555555;
	/*font-weight: bold;*/
	font-size: 15px;
}
.zhj_tel{
	width: 100%;
	height: 50px;
	position: relative;
}
.telInp{
	width: 100%;
	float: left;
	border-radius: 0;
	background: #FAFAFA;
}
.zhj_Code{
	width: 100%;
	height: 30px;
	/*color: black;*/
	font-weight: bold;
	font-size: 15px;
}
.zhj_Codes{
	width: 100%;
	height: 50px;
	position: relative;
}
.codesInp{
	width:80%;
	float: left;
	background: #FAFAFA;
	border-radius: 0;
}
.codebtn{
	width: 20%;
	background: #C0A75E;
	font-size: 16px;
	border-radius: 0;
}

.zhj_Verification{
	width: 100%;
	height: 30px;
	color: #555555;
	/*font-weight: bold;*/
	font-size: 15px;
}
.zhj_Verifications{
	width: 100%;
	height: 50px;
	position: relative;
}
.VerificationInp{
	width: 100%;
	float: left;
	border-radius: 0;
	background: #FAFAFA;
	position: relative;
}
.datapas{
	width: 200px;
	display: block;
	font-size: 15px;
	position: absolute;
	right:0%;
	top: 14%;
	display: none;
}
.zhj_Notice{
	width: 100%;
	height: 80px;
	padding-left: 3%;
	padding-top: 10px;
	margin-top: 2%;
	background: #DFF0FF;
}
.zhj_Notice span:nth-child(1){
	color: #555555;
	width: 100%;
	font-size: 18px;
	font-weight:600;
	float: left;
	display: inline-block;
}
.zhj_Notice span:nth-child(2){
	width: 100%;
	/*color: #505152;*/
	font-size: 15px;
	float: left;
	display: inline-block;
	margin-top: 0.5%;
}
.zhj_Button{
	width: 100%;
	height: 50px;
	margin-top: 5%;
}
.cancel{
	background:#EDEDED;
	float: left;
	width: 12%;
	height: 40px;
	text-align: center;
	border-radius: 2%;
	font-size: 16px;
	color: #555555;
	margin-left: 70%;
	margin-top: 1%;
	border:none;
	outline: none;
}
.beSure{
	background:#C0A75E;
	float: left;
	width: 12%;
	height: 40px;
	text-align: center;
	border-radius: 2%;
	font-size: 16px;
	color: white;
	margin-left: 4%;
	margin-top: 1%;
	border:none;
	outline: none;
}
.zhj_resume{
	width: 85%;
	min-height:100%;
	margin: 0 auto;
	margin-top: 1%;
	border: 1px solid #DDDDDD;
	background: white;
	/*display: none;*/
	margin-bottom: 1%;
	overflow: hidden;
	padding-bottom: 2%;
}
.zhihubao{
	width: 100%;
	height: 50px;
	float: left;
	line-height: 50px;
	padding-left:2%;
	background:rgba(193,193,193,0.3);
	border-bottom: 1px #DDDDDD solid;
}
.zhihubao_left{
	color: #555555;
	float: left;
	font-size: 16px;
}
.zhihubao_line{
	width: 1px;
	height: 30px;
	background: #666666;
	float: left;
	margin-left: 2%;
	margin-top: 1%;
}
.zhihubao_nickName{
	color: #555555;
	float: left;
	font-size: 16px;
	margin-left:8%;
}
.zhihubao_butn{
	color: #555555;
	float: left;
	font-size: 16px;
	margin-left:65%;	
}
.resumeAll{
	width: 100%;
	height: 50px;
	float: left;
	line-height: 50px;
	padding-left:2%;
	border-bottom: 1px #DDDDDD solid;
}
.resumeAll:hover{
	background: rgba(208,208,208,0.4);
}
.resumeAll_left{
	color: #555555;
	float: left;
	font-size: 16px;
	width: 100px;
	height: 50px;
	line-height: 50px;
}
.resumeAll_nickName{
	color: #555555;
	float: left;
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	margin-left: 2%;
}
.resumeAll_line{
	width: 1px;
	height: 30px;
	background: #666666;
	float: left;
	margin-top: 1%;
}
.resumeBtnO{
	color: #555555;
	float: left;
	font-size: 16px;
	margin-left: 50%;
	width: 5%;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background: #C1C1C1;
	margin-top: 0.5%;
	border-radius: 4%;
	cursor: pointer;
}
.resumeBtnT{
	width: 5%;
	height: 38px;
	color: #555555;
	float: left;
	font-size: 16px;
	margin-left: 2%;
	background: skyblue;
	line-height: 38px;
	text-align: center;
	color: white;
	border-radius: 4%;
	margin-top: 0.6%;
	cursor: pointer;
}
.resumeBao{
	width: 6%;
	height: 40px;
	color: #555555;
	float: left;
	font-size: 16px;
	margin-left: 2%;
	background:#2D93CA;
	line-height: 40px;
	text-align: center;
	color: white;
	border-radius: 3%;
	margin-top: 2%;
	margin-left: 85%;
}
.allFB{
	width: 100%;
	height:auto;
	float: left;
}
.allJL{
	width: 100%;
	height:auto;
	float: left;
}
.allJls{
	width: 100%;
	height: auto;
	float: left;
}

.butn{
	width: 100px;
	height: 40px;
	float: left;
	background: #C0A75E;
	color: white;
	font-size: 15px;
	text-align: center;
	line-height: 40px;
	box-shadow: 0 0 2px 2px white;
	margin-left: 2%;
	display: none;
	cursor: pointer;
}
.hqqb{
	width: 45%;
	height: 60%;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top:20%;
	left: 28%;
	z-index: 999999;
	padding-top: 9%;
	display: none;
	overflow: hidden;
}
.hqqb span:nth-child(1){
	display: block;
	width: 100%;
	height:30px;
	float: left;
	font-size: 22px;
	color: white;
	text-align: center;
	line-height: 30px;
}
.hqqb span:nth-child(2){
	display: inline-block;
	width: 100%;
	height: 50px;
	float: left;
	line-height: 50px;
	text-align: center;
	color: white;
	/*border: 1px solid #DDDDDD;*/
}
.hqqb span:nth-child(3){
	display: block;
	width: 15%;
	height: 45px;
	float: left;
	font-size: 18px;
	color: rgba(0,0,0,0.7);
	background: skyblue;
	text-align: center;
	line-height: 45px;
	font-size: 16px;
	color: white;
	cursor: pointer;
	border: 1px white solid;
	margin-left: 43%;
	margin-top: 2%;
}










