.wyhteam_wrapper{
	width:100%;
	height:auto;
	margin-top:120px;
}
.wyhteam_body{
	width:85%;
	height:auto;
	margin:0 auto;
}
.yu_teamtop{
	text-align: center;
	margin-top:20px;
}
.yu_teamtop img{
	width:80px;
	height:80px;
	background-size:100% 100%;
}
.yu_title{
	font-size: 22px;
	text-align: center;
    color: #444;
    line-height: 60px;
    font-weight: 700;
}
.yuheader_on{
	width:100%;
	height:170px;
	margin:20px auto 0;
	text-align: center;
}
.yu_teamphoto{
	width:160px;
	height:160px;
	margin-left:30px;
	background: url(../images/hhou.png) no-repeat;
	background-size: 100% 100%;
	/*background: url(../images/hhou.png) no-repeat;
	background-size: 95% 95%;*/
}

.yu_imghead{
	width:150px;
	height:170px;
	border:#E3E3E3 5px solid;
	background-size: cover;
	display: inline-block;

}
.yu_ontp{ 
    position: relative;
    margin:60px 0 0 50px;
    
}
.on_tpfil{
	width:90px;
	height:35px;
	display:block;
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background: green;
}
.yu_ontpbt{
	width:90px;
	height:35px;
}
.cron_yu{
	font-size: 14px;
	color:orangered;
	width:170px;
	height:40px;
	line-height: 40px;
	position: absolute;
	top:36px;
	left:-6px;
	/*background: dodgerblue;*/
}


#clipArea {
	height: 100%;
	/*width:100%*/
	position: relative;
}
#clipBtn {
	padding:8px 15px;
	z-index: 999999;
	position:absolute ;
	bottom:6%;
	left:46%;
}
.cut_out_text{
	position: absolute;
	bottom:1%;
	left:42%;
	z-index: 999999;
	color:white;
	font-size: 15px;
}
#view {
	margin: 0 auto;
	width: 160px;
	height: 160px;
	background: url(../images/hhou.png) no-repeat center;
	background-size: 90% 100%;
}
#tops{
	position: fixed;
	width: 100%;
	height: 100%;
	top:-103%;
	transition: all 0.5s;
	z-index: 9999;
}


/*yu_line11*/
.yu_teamm{
	width:100%;
	height:100px;
	margin-top:15px;
}    
.yu_teamss{
	width:50%;
	height:100px;
}
.yu_teamss lable{
	width:97%;
	height:auto;
	color: #999;
    font-size: 16px;
    line-height: 45px;
    float: left;
}
.yu_teamnamee{
	width:97%;
	height: 45px;
    border: 1px solid #ddd;
    border-radius: 1px;
    display: inline-block;
    padding: 4px 10px;
    box-shadow: none;
    font-family: inherit;
    font-weight: inherit;
    resize: none;
    outline: 0;
    font-size: 14px;
    color:#A9A9A9;
}
.yu_teamnamee,.yu_address,.yu_peopname,.yu_telh::-webkit-input-placeholder{
	font-size: 14px;
}
.yu_teaadds{
	width:50%;
	height:100px;
}
.yu_teaadds lable{
	width:97%;
	height:auto;
	color: #999;
    font-size: 16px;
    line-height: 45px;
    float: left;
    margin-left:3%;
}
.yu_address{
	width:97%;
	height: 45px;
    border: 1px solid #ddd;
    border-radius: 1px;
    display: inline-block;
    padding: 4px 10px;
    box-shadow: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    resize: none;
    outline: 0;
    margin-left:3%;
    color:#A9A9A9;
}
/*yu_line22*/
.yu_peoplec{
	width:100%;
	height:100px;
	margin-top:15px;
}    
.yu_teampeopl{
	width:50%;
	height:100px;
}
.yu_teampeopl lable{
	width:97%;
	height:auto;
	color: #999;
    font-size: 16px;
    line-height: 45px;
    float: left;
}
.yu_peopname{
	width:97%;
	height: 45px;
    border: 1px solid #ddd;
    border-radius: 1px;
    display: inline-block;
    padding: 4px 10px;
    box-shadow: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    resize: none;
    outline: 0;
    color:#A9A9A9;
}
.yu_tells{
	width:50%;
	height:100px;
}
.yu_tells lable{
	width:97%;
	height:auto;
	color: #999;
    font-size: 16px;
    line-height: 45px;
    float: left;
    margin-left:3%;
}
.yu_telh{
	width:97%;
	height: 45px;
    border: 1px solid #ddd;
    border-radius: 1px;
    display: inline-block;
    padding: 4px 10px;
    box-shadow: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    resize: none;
    outline: 0;
    margin-left:3%;
    color:#A9A9A9;
}
.wyh_team{
	width:100%;
	height:100px;
	margin:0 auto;
	padding:15px 0;
}
.wyh_team lable{
	width:100%;
	height:40px;
	color: #999;
    font-size: 16px;
    line-height: 40px;
    float: left;
    display: block;
}
.yu_teamname{
	width:100%;
	height: 45px;
    border: 1px solid #ddd;
    border-radius: 1px;
    display: inline-block;
    padding: 4px 10px;
    box-shadow: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    resize: none;
    outline: 0;
    color:#A9A9A9;
}

/*.yu_idzhengs{ 
    position: relative;
}
.yu_sfzzheng{
	width:280px;
	height:160px;
	display:-moz-inline-stack;
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
}
.imgsfz{
	width:280px;
	height:160px;
	background-size: cover;
	margin-top:10px;
	border:none;
}
.sfzztxt{
	width:280px;
	height:160px;
	color:#969696;
	font-size: 17px;
	position: absolute;
	text-align: center;
	line-height: 175px;
    top: 0;
    z-index: -1;
    margin-top:10px;
    border:1px solid #CCCCCC;
}
.yu_idfans{ 
    position: relative;
}
.yu_sfzfan{
	width:280px;
	height:160px;
	display:-moz-inline-stack;
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    margin-left:25px;
    margin-top:10px;
}
.imgsfzf{
	width:280px;
	height:160px;
	background-size: cover;
	margin-left:25px;
	margin-top:10px;
	border:none;
}
.sfzftxt{
	width:280px;
	height:160px;
	color:#969696;
	font-size: 17px;
	position: absolute;
	text-align: center;
	line-height: 175px;
    top: 0;
    z-index: -1;
    margin-left:25px;
	margin-top:10px;
	border:1px solid #CCCCCC;
}
.all_idpic{
	width:100%;
	height:300px;
	border:1px solid red;
}
.yu_idnum{
	width:100%;
	height:300px;
	margin:0 auto;
	padding:15px 0;
	
}
.yu_idnum lable{
	width:100%;
	height:40px;
	color: #999;
    font-size: 16px;
    line-height: 40px;
    float: left;
    display: block;
    background: greenyellow;
}
.yu_idxy{
	width:100%;
	height:30px;
	color:#777777;
	line-height: 20px;
	font-size: 14px;
	margin-top:25px;
}*/
.yu_idnum{
	width:100%;
	height:300px;
	margin:0 auto;
	padding:15px 0;
}
.yu_idnum lable{
	width:100%;
	height:40px;
	color: #999;
    font-size: 16px;
    line-height: 40px;
    float: left;
    display: block;
}
.yu_idzhengs{ 
    position: relative;
}
.yu_sfzzheng{
	width:280px;
	height:160px;
	display:block;
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.imgsfz{
	width:280px;
	height:160px;
	background-size:cover ;
	position: absolute;
    top: 0;
    left: 0;
    margin-top:10px;
}
.sfzztxt{
	width:280px;
	height:160px;
	border:none;
	background: #FAFAFA;
	line-height: 160px;
	text-align: center;
	color:#969696;
	font-size: 17px;
	border:1px solid #E0E0E0;
	margin-top:10px;
}
.yu_idfans{ 
    position: relative;
}
.yu_sfzfan{
	width:280px;
	height:160px;
	display:block;
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.imgsfzf{
	width:280px;
	height:160px;
	background-size:cover ;
	position: absolute;
    top: 0;
    left: 0;
    margin-top:10px;
    margin-left:25px;
}
.yu_sfzfbt{
	width:280px;
	height:160px;
	background: #FAFAFA;
	line-height: 160px;
	text-align: center;
	color:#969696;
	font-size: 17px;
	border:1px solid #E0E0E0;
	margin-left:25px;
	margin-top:10px;
}
.yu_idxys{
	width:100%;
	height:30px;
	color:#777777;
	line-height: 20px;
	font-size: 15px;
	margin-top:25px;
}
.wyh_teamthings{
	width:100%;
	height:260px;
	margin:0 auto;
	padding:15px 0;
}
.wyh_teamthings lable{
	width:100%;
	height:40px;
	color: #999;
    font-size: 16px;
    line-height: 40px;
    float: left;
    display: block;
}
.yuon_diy{
	width:100%;
	height:auto;
	border:2px dashed #E3E3E3;
	background: #FAFAFA;
}
.yuhan_img{
    position: relative;
   border:5px solid #E3E3E3;
    width:150px;
	height:160px;
	padding:5px;
	margin:20px; 
	float: left;
}
.yuh_pic{
	width:130px;
	height:130px;
	display:block;
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: 9;*/
}
.han_imgg{
	width:130px;
	height:130px;
}


.yu_rekuang{
	width:100%;
	height:auto;
	line-height: 50px;
}
.yu_lab{
	font-size:14px;
	font-weight: normal;
}
.yu-submit{
	background: #E62B00;
	width:100px;
	height:40px;
	border-radius: 0;
	margin-top:10px;
	font-size: 17px;
}
.xieyi{
	font-size: 14px;
	color:blue;
	height:auto;
	line-height: 50px;
	width:auto;
	display: block;
	float: right;
	margin-right:280px;
}
.xieyi:hover { 
	color:blue; 
} 

/*提示注册成功*/
.yu_Popup_window{
	width: 600px;
    height: 250px;
    background: rgba(0,0,0,0.8);
    color: white;
    line-height: 50px;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    top: 31%;
    left: 29%;
    display: none; 
}
.yu_Popup_window_title{
	font-size:28px;
	height:90px;
	line-height:90px;
}
.yu_Popup_window_cont{
	height:90px;
	line-height: 90px;
}
.yu_Popup_window_keys{
	display: inline-block;
	/*background: red;*/
}
.yu_Popup_window_btn{
	width:70px;
	height:36px;
	font-size: 16px;
	display: inline-block;
	margin:0 15px;
}
/*弹框*/
.yu_pop-up{
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	background: rgba(0,0,0,.5);
	z-index: 999999999;
	display: none;
}
.yu_pop-up_cont{
	background: #fff;
    width: 580px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -220px 0 0 -290px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    border-radius: 1px;
	
}
.yu_reminder{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-bottom: 1px solid #EDEDED;
    position: relative;
    padding-left: 30px;
}
.yu_pop_text{
	position: relative;
    padding: 20px 30px;
}
.pop_up_content{
	font-style: normal;
}
.info_Yu_text{
	font-size: 16px;
    line-height: 30px;
}
.icon_yuhan{
	color:#F6A623;
	font-size: 27px;
	display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    margin-right: 10px;
}
.yu_freed{
	margin-top: 15px;
    color: #777;
    line-height: 30px;
}
.yu_bottom{
	height: 68px;
    background: #fafafa;
    border-top: 1px solid #F2F2F2;
    position: relative;
}
.button_yuhan{
	position: absolute;
    right: 30px;
    top: 15px;
}
.yu_pop_sure{
	font-size: 18px;
    padding: 0 15px;
    border-radius: 3px;
    height: 36px;
    line-height: 36px;
}
.yuhan_ok{
	font-size: 18px;
    padding: 0 15px;
    border-radius: 3px;
    height: 36px;
    line-height: 36px;
}
.yu_close-btn{
	position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.yu_close-btn i{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
}
/*删除按钮*/
.img{
	width:150px;
	height:160px;
	border:5px solid #E3E3E3;
	padding:5px;
	float: left;
}
.img img{
	background-size: cover;
	width:100%;
	height:100%;
}
.Yu_Delete_the_work{
	width:25px;
	height:25px;
	position: absolute;
	top: -10px;
    right: -1px;
	color:#D84C29;
	font-size: 27px;
	/*z-index: 999999999;*/
	cursor: pointer;
}
.add_img{
	position: relative;
	width:155px;
	height:165px;
	float: left;
	margin:15px; 
	
}
/*加载按钮*/
.loading_imgheader{
	width: 30px;
    height: 30px;
    background: gainsboro;
    position: absolute;
    top: 3px;
    left: 104px;
    background: url(../images/yu_loading.gif) no-repeat center;
    background-size: cover;
    display: none;
}
.loading_imgsfzz{
	width: 30px;
    height: 30px;
    background: gainsboro;
    position: absolute;
    top: 77px;
    left: 127px;
    background: url(../images/yu_loading.gif) no-repeat center;
    background-size: cover;
     display: none; 
}
.loading_imgsfzf{
	width: 30px;
    height: 30px;
    background: gainsboro;
    position: absolute;
    top: 77px;
    left: 151px;
    background: url(../images/yu_loading.gif) no-repeat center;
    background-size: cover;
     display: none; 
}
.loading_imgworks{
	width: 30px;
    height: 30px;
    background: gainsboro;
    position: absolute;
    top: 55px;
    left: 56px;
    background: url(../images/yu_loading.gif) no-repeat center;
    background-size: cover;
     display: none; 
}


